.pending-dm {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 $padding-large;
  text-align: center;

  .main-text {
    @extend %headline;
    margin-top: $margin-tiny;
  }

  .user-profile-container {
    margin-top: $margin-large;
    text-align: center;

    .p-avatar {
      display: inline-block;
    }

    .username {
      margin-top: $margin-tiny;
      color: $text-dark-secondary;
    }
  }

  .identity-verification-notice {
    margin-top: $margin-default;
    font-style: italic;
  }

  .button-container {
    margin-top: $margin-default;

    .p-button {
      margin: 0 $margin-default;
    }
  }

  // Pressing `dismiss` doesn't take user anywhere. It's the same view, just with different content
  &.dismissed {
    .plus-icon {
      margin: 0 $margin-tiny;
    }
  }
}
